.fraseContainer{
    background-color: blue;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}

.fraseContent {
    color: 'yellow';
    background-color: rgb(43, 226, 83);
    padding: 10px;
    text-align: center;
} 